@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.parentContainer {
  width: 500px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-items: center;
}

.titleContainer {
  display: flex;
  text-align: center;
  font-weight: 500;
  font-size: 64px;
  margin-bottom: 10px;
  color: black;
}

.countContainer {
  font-size: 100px;
  margin: 45px;
}

.animateCountContainer {
  animation: bounce 0.4s;
  color: red;
  font-size: 100px;
  margin: 45px;
}

.buttonContainer {
  display: flex;
  /*justify-content: space-between;*/
  gap: 40px;
}

.increaseCountBtn {
  background-color: #0c0a1a;
  border: rgba(24, 24, 49, 0.6);
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
}

.increaseCountBtn:hover {
  opacity: 1;
}

.decreaseCountBtn {
  background-color: #0c0a1a;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
}

.decreaseCountBtn:hover {
  opacity: 1;
}
